*{
    box-sizing: border-box;
    font-family: "Roboto";
}

.rosinha{  /*reservadamente */
    background-color: #FFDEDE;
}

.entrasai{ /*login e logout da sala */
    background-color: #DCDCDC;
}

.public{ /*mensagens publicas */
    background-color:  #FFFFFF;
}

.body{
    width:375px;
    height: 507px;
}

.hidden{
    display: none;
}

.bold{
    font-weight:700;
}

.pad{
    padding-left: 10px;
}

.flex{
    display: flex;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
}

.ion{
    padding-right:6px;
    font-size:18px;
}

.topo{
    height:80px;
    width:375px;
    position: fixed;
    top: 0px;
    left:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo{
    padding-left: 22px;
}

.people{
    font-size: 38px;
    padding-right:20px;
    cursor: pointer
    
}

.feed{
    background: #E5E5E5;
    padding-top: 100px;
    width:375px;
   
}

.text-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 375px;
    height:auto;
    border-radius: 2px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;

}

.horario{
    display: flex;
    align-items: center;
    color: #AAAAAA;
    padding-left:6px;
}

.user-acao-destinatario{
    padding-left:3px;
}

.texto{
    padding-left:3px;
    font-family: Roboto;
    font-size:15px;
    
}

.h1{
    font-weight:400;
}

.loginout{
    background: #d2d2d2;
    
}

.reservada{
   background: #FFDEDE;
}

.digitar{
    position: fixed;
    display: flex;
    align-items: center;
    width: 375px;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    

}

.input{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: flex;
    align-items: center;
    font-family: "Roboto";
    font-style: italic;
    padding-left: 6px;
    border: none;
    width: 340px;
    height: 60px;
    color:rgb(52, 52, 52)
}

.plane{
    font-size:26px;
    cursor: pointer;
}

.lateral{
    position: fixed;
    top:0;
    left:175px;
    z-index:3;
    width: 200px;
    height: 507px;
    background-color: lightgray;
    border-radius: 8px;
}

.topo-lat{
    height:84px;
    padding-top: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.visibili{
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fade{
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
    z-index:3;
    width: 175px;
    height: 507px;
    background-color: rgba(0, 0, 0, 0.7);
}